{% extends 'base.html' %}

{% block title %}Каталог карточек - Моя Веб-Страница{% endblock %}

{% load static %}

{% block content %}
    <h2>Каталог карточек</h2>
    {% for card in tag_cards %}
        <div class="card">
            <a href="{% url 'card_detail' card.card_id %}">{{ card.Question }}</a>
            <ul>
                {% for tag in card.tags.all %}
                    <li>
                        <a href="{% url 'get_cards_by_tag' tag_id=tag.TagID %}">{{ tag.Name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <p>No cards found.</p>
    {% endfor %}
{% endblock %}



